fastapi>=0.110
uvicorn[standard]>=0.27
requests>=2.31
aiohttp>=3.9
pydantic>=2.6
playwright>=1.43
playwright-stealth>=1.0.6
python-dotenv>=1.0
anyio>=4.0
typing-extensions>=4.9
pytest>=7.4.4
pytest-asyncio>=0.21.1
python-multipart>=0.0.6
beautifulsoup4>=4.12.2
lxml>=4.9.3
numpy>=1.25.2
scipy>=1.11.4
shutup
humanize